.App {
    text-align: center;
    background:linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    >div:first-child {
        margin-bottom: 20px;
        @media (max-width: 599px) {
            max-width: 330px;
            width: 100%;
            margin: 0 auto;
        }
    }

    .attribution {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #ffffff;
        max-height: 85px;
        height: 85px;
        max-width: 340px;
        margin: 0 auto;

        a {
            color: #ffffff;
            
        }

        a:hover {
            color: #bdbdbd;
            }

        >div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;

            >div {
            position: absolute;
            right: 0;
            }
        }
    }

    >div {
        display: flex;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .common-heading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    h1{
        font-size: 34px;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        
        font-weight: 800;
        @media (max-width: 599px) {
            font-size: 24px;
        }
    }

    h2{
        font-size: 24px;

        @media (max-width: 599px) {
            font-size: 18px;
        }
    }

  }
  
  .bulb {
    width: 80px;
    margin: 10px;
    position: relative;
    img {
        opacity:0.75;
        width: 100%;
    }
    @media (max-width: 599px) {
        width: 50px;
    }

    p{
        position: absolute;
        font-size: 60px;
        
        top: 9px;
       left: 0;
       right: 0;
       margin: 0 auto;
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        @media (max-width: 599px) {
            font-size: 40px;
            top: 3px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    .dark {
        color: rgba(0, 0, 0, 0.95);
    }

    .light {
        color: white;
        text-shadow: 0 0 15px white;
    }


  }

  .bulb:hover {
    cursor: pointer;
  }

  .bulb:focus {
    outline: none;
  }

  .bulb:active {
    outline: none;
  }