.App {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .App > div:first-child {
    margin-bottom: 20px; }
  .App > div {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .App .common-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black; }
  .App h1 {
    font-size: 34px;
    margin-bottom: 10px; }
    @media (max-width: 599px) {
      .App h1 {
        font-size: 24px; } }
  .App h2 {
    font-size: 24px; }
    @media (max-width: 599px) {
      .App h2 {
        font-size: 18px; } }

.bulb {
  width: 80px;
  margin: 10px; }
  @media (max-width: 599px) {
    .bulb {
      width: 50px; } }

.bulb:hover {
  cursor: pointer; }

.bulb:focus {
  outline: none; }

.bulb:active {
  outline: none; }
